<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119517954735-jh3of822oiaou1ruphnto5pda0q4fubp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119517954735-jh3of822oiaou1ruphnto5pda0q4fubp</string>
	<key>API_KEY</key>
	<string>AIzaSyDeVMFo2XSEPyZTb9nkUR-0qPgTxUR3nm4</string>
	<key>GCM_SENDER_ID</key>
	<string>119517954735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yossibank.Collections</string>
	<key>PROJECT_ID</key>
	<string>collections-a4d18</string>
	<key>STORAGE_BUCKET</key>
	<string>collections-a4d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119517954735:ios:8c6175aa06216f85cf8a5a</string>
</dict>
</plist>