github "mac-cain13/R.swift.Library"
github "kishikawakatsumi/KeychainAccess"
github "alickbass/CodableFirebase"
github "ReactiveX/RxSwift" "6.0.0-rc.2"
github "AliSoftware/OHHTTPStubs"

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAuthBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseStorageBinary.json"
